<h2 id="primary">Edit: <%= @store.name %> </h2>

<%= form_for @store do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :value => params[:name] %>

  <%= f.submit %>

<% end %>
<div id=primary>
<%= link_to 'Delete!', store_path(@store), method: :delete, class: 'delete' %>
</div>
<div id=primary>
<%= link_to '<< Back to store items', @store %>
</div>
