<h2>Edit Store: <%= @store.name %> </h2>

<%= form_for @store do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :value => params[:name] %>

  <%= f.submit %>

<% end %>
<br>
<%= link_to 'Delete!', store_path(@store), method: :delete, class: 'delete' %>
<br>
<br>
<%= link_to '<< Back to store items', @store %>
