<h1>Edit Store: <%= @store.name %> </h1>

<%= form_for @store do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :value => params[:store] %>

  <%= f.submit %>

<% end %>

<%= link_to 'Delete!', user_store_path(@store), method: :delete, class: 'delete' %>
