<%= link_to 'Edit or Cancel Your Account', edit_user_registration_path %>
<h2 id="primary">Your stores</h2>
<%= form_for(current_user.stores.build) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

  <% @stores.each do |store| %>
  <div id="primary">
  <%= store.name %>  <%= link_to("Show", store_path(store)) %>
  </div>

    <% end %>
