<h4><%= link_to 'Cancel Your Account', edit_user_registration_path, :method => :delete %></h4>
<h1>Listing your stores</h1>
<%= form_for(current_user.stores.build) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<ul>
  <% @stores.each do |store| %>
  <li><%= store.name %></li>
  <%= link_to("Show", store_path(store)) %>
  <%#= link_to("Edit", '#', :class => 'action edit') %>
  <%#= link_to("Delete", store_path(store), :class => 'action delete') %>
  <% end %>
</ul>
