<%= link_to 'Edit or Cancel Your Account', edit_user_registration_path %>
<h2>Your stores</h2>
<%= form_for(current_user.stores.build) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<ul>
  <% @stores.each do |store| %>
  <li><%= store.name %>  <%= link_to("Show", store_path(store)) %></li>

  <%#= link_to("Edit", '#', :class => 'action edit') %>
  <%#= link_to("Delete", store_path(store), :class => 'action delete') %>
  <% end %>
</ul>
