<h1><%= @store.name %> <%= link_to("(edit)", edit_store_path(@store)) %></h1>

<h2>Items Listing</h2><%= link_to("Create", new_store_item_path(@store)) %>
<ul>
  <% @items.each do |item| %>
  <li><%= item.name %></li>
  <%= link_to("Show", store_item_path(@store, item)) %>
  <%= link_to("Edit", edit_store_item_path(@store, item)) %>
  <% end %>
</ul>
