<h1>Show Store Details</h1>

<ul>
<li><%= @store.name %></li> <%= link_to("Edit", edit_store_path(@store)) %>
</ul>

<h2>Items Listing</h2><%= link_to("Create", new_store_item_path(@store)) %>
<ul>
  <% @items.each do |item| %>
  <li><%= item.name %></li>
  <%= link_to("Show", store_item_path(@store, item)) %>
  <%= link_to("Edit", edit_store_item_path(@store, item)) %>
  <% end %>
</ul>
