<h2 id="primary">Edit <%= @item.name %> at <%= @item.store.name %></h2>

<%= form_for edit_store_item_path(@store, @item) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :brand %>
  <%= f.text_field :brand %>

  <%= f.label :item_type %>
  <%= f.text_field :item_type %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :total_measure %>
  <%= f.text_field :total_measure %>

  <%= f.label :unit_of_measure %>
  <%= f.text_field :unit_of_measure %>

  <%= f.label :notes %>
  <%= f.text_field :notes %>

  <%= f.submit %>

<% end %>

<%= form_for store_item_path(@item, @store), url: {action: "destroy"}, method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>





<%= link_to '<< Back to store items', @store %>
