<h2>Show Item Details</h2>
<h3></h3>
<ul>
<li><%= @item.name %></li> <%#= link_to("Edit", edit_store_item_path(@store, item)) %>
<li><%= @item.brand %></li>
<li><%= @item.item_type %></li>
<li><%= @item.price %></li>
<li><%= @item.total_measure %></li>
<li><%= @item.unit_of_measure %></li>
<li><%= @item.price_per_unit %></li>
<li><%= @item.notes %></li>
<li><%= @item.price_expiration %></li>
</ul>
