<h2 id="primary"><%= @item.name %> details at <%= @item.store.name %> <%= link_to("(edit)", edit_store_item_path(@store, @item)) %></h2>
<div id="primary">
<div><%= @item.brand %> brand</div>
<div>type: <%= @item.item_type %></div>
<div>$<%= @item.price %></div>
<div><%= @item.total_measure %> <%= @item.unit_of_measure %>s</div>
<div>$<%= (@item.price/@item.total_measure).round(4) %> per <%= @item.unit_of_measure %></div>
<div>notes: <%= @item.notes %></div>
<!-- <li><%#= @item.price_expiration %></li> -->
<%#= @item.price_per_unit %>
</div>

<%= link_to '<< Back to store items', @store %>
