<!DOCTYPE html>
<html>
<head>
  <title>PriceParser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<h1 id="primary">PriceParser</h1>
<body id="primary">

<%= yield %>

<div id="signout">
  <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
</div>

</body>
</html>
